{{- if .Site.Params.analytics.google.SiteVerificationTag }}
<meta name="google-site-verification" content="{{ .Site.Params.analytics.google.SiteVerificationTag }}">
{{- end }}
{{- with .Site.Params.analytics.cloudflare }}
  {{- if and .enable .token }}
<script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"token":"{{ .token }}"}'></script>
  {{- end }}
{{- end }}
{{- with .Site.Params.analytics.umami }}
  {{- if and .enable .website_id .url }}
<script async defer data-website-id="{{ .website_id }}" src="{{ .url }}"></script>
  {{- end }}
{{- end }}
