{{- $lang := .Site.Language.Locale | default "zh-CN" -}}
{{- $publisherType := .Site.Params.schema.publisherType | default "Organization" -}}
{{- $logo := dict "@type" "ImageObject" "url" ((.Site.Params.avatarURL | default "images/avatar.png") | absURL) -}}
{{- $authorName := .Site.Title -}}
{{- $authorEmail := "" -}}
{{- with .Site.Params.author -}}
  {{- if reflect.IsMap . -}}
    {{- $authorName = .name | default $.Site.Title -}}
    {{- $authorEmail = .email | default "" -}}
  {{- else -}}
    {{- $authorName = . -}}
  {{- end -}}
{{- end -}}
{{- $author := dict "@type" "Person" "name" $authorName "url" .Site.BaseURL -}}
{{- with $authorEmail -}}
  {{- $author = merge $author (dict "email" .) -}}
{{- end -}}
{{- $publisher := dict "@type" $publisherType "name" .Site.Title "logo" $logo -}}

{{- if .IsHome -}}
  {{- $schema := dict
    "@context" "https://schema.org"
    "@type" $publisherType
    "name" .Site.Title
    "url" .Site.BaseURL
    "description" (.Site.Params.description | default .Site.Title)
    "author" $author
    "logo" $logo
  -}}
  {{- with .Site.Params.schema.sameAs -}}
    {{- $schema = merge $schema (dict "sameAs" .) -}}
  {{- end -}}
  <script type="application/ld+json">{{ $schema | jsonify | safeJS }}</script>
{{- else if or .IsPage (and .IsSection (not .IsHome)) -}}
  {{- $items := slice (dict "@type" "ListItem" "position" 1 "name" .Site.Title "item" .Site.BaseURL) -}}
  {{- $path := "" -}}
  {{- range $index, $value := (split (strings.TrimPrefix "/" (strings.TrimSuffix "/" .RelPermalink)) "/") -}}
    {{- $path = printf "%s/%s" $path $value -}}
    {{- $items = $items | append (dict "@type" "ListItem" "position" (add $index 2) "name" ($value | humanize) "item" (printf "%s%s/" $.Site.BaseURL (strings.TrimPrefix "/" $path))) -}}
  {{- end -}}
  {{- $schema := dict "@context" "https://schema.org" "@type" "BreadcrumbList" "itemListElement" $items -}}
  <script type="application/ld+json">{{ $schema | jsonify | safeJS }}</script>
{{- end -}}

{{- if .IsPage -}}
  {{- $schema := dict
    "@context" "https://schema.org"
    "@type" "BlogPosting"
    "headline" .Title
    "description" ((.Description | default .Params.description | default .Summary | plainify | truncate 160))
    "wordCount" .WordCount
    "inLanguage" $lang
    "datePublished" (.Date.Format "2006-01-02T15:04:05-07:00")
    "dateModified" (.Lastmod.Format "2006-01-02T15:04:05-07:00")
    "author" $author
    "publisher" $publisher
    "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
  -}}
  {{- with .Params.keywords -}}
    {{- $schema = merge $schema (dict "keywords" .) -}}
  {{- else -}}
    {{- with .Params.tags -}}
      {{- $schema = merge $schema (dict "keywords" .) -}}
    {{- end -}}
  {{- end -}}
  {{- with .Params.image -}}
    {{- $schema = merge $schema (dict "image" (. | absURL)) -}}
  {{- end -}}
  {{- with .Params.cover.image -}}
    {{- $schema = merge $schema (dict "image" ((cond $.Params.cover.relative (printf "%s%s" $.RelPermalink .) .) | absURL)) -}}
  {{- end -}}
  <script type="application/ld+json">{{ $schema | jsonify | safeJS }}</script>
{{- end -}}
